@model TMS.Models.VehicleOwner
@{
    ViewBag.Title = "ownermaster";
    Layout = "~/Views/Shared/TSLayout.cshtml";
}
<h2></h2>

<style>
    .tdwidth {
        width: 50% !important;
    }

    @@media (max-width:576px) {
        .mts {
            margin-top: 0px !important;
        }
    }

    .mts {
        margin-top: 28px;
    }

    label {
        color: #212121;
        font-weight: 600 !important;
    }

    a {
        color: #e0ba00;
    }

    .rules {
        color: #b56800 !important;
        font-weight: 700;
    }

    @@media (min-width:576px) {
        .modal-dialog1 {
            max-width: 800px;
            margin: 1.75rem auto
        }
    }

    .modaloverflow {
        height: 600px;
        overflow-y: auto;
    }

    table.dataTable thead > tr > th {
        color: #fff;
        background-color: #223035;
    }

    .table th {
        padding: 7px !important;
    }

    .btn1 {
        padding: 2px 6px;
    }


    .btn-group {
        box-shadow: none;
    }

        .btn-group > .btn-group:not(:first-child) > .btn, .btn-group > .btn:not(:first-child) {
            border-top-left-radius: .25rem;
            border-bottom-left-radius: .25rem;
        }

        .btn-group > .btn-group:not(:last-child) > .btn, .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
            border-top-right-radius: .25rem;
            border-bottom-right-radius: .25rem;
        }
</style>
<div class="clearfix"></div>

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumb-->
        <!-- End Breadcrumb-->
        <div class="row pt-4 pb-3">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header"><i class="fa fa-table"></i> Owner Master</div>
                    <div class="card-body">
                        @using (Html.BeginForm("ownermaster", "Admin", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            string confirmMessage = Convert.ToString(TempData["Message"]);
                            string warningMessage = Convert.ToString(TempData["WarningMessage"]);
                            if (!string.IsNullOrEmpty(confirmMessage))
                            {
                                <div class="alert alert-success alert-dismissable" id="divSuccessMessage">
                                    @confirmMessage
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                </div>
                            }
                            if (!string.IsNullOrEmpty(warningMessage))
                            {
                                <div class="alert alert-warning alert-dismissable" id="divSuccessMessage">
                                    @warningMessage
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                </div>
                            }

                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Owner Name:</label>
                                        @Html.HiddenFor(m => m.OwnerId)
                                        @Html.TextBoxFor(m => m.OwnerName, new { @class = "form-control", @required = "required" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>PAN:</label>
                                        @Html.TextBoxFor(m => m.PAN, new { @class = "form-control",@id="PAN" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Contact No:</label>
                                        @Html.TextBoxFor(m => m.ContactNo, new { @class = "form-control", @required = "required" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Email:</label>
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Address:</label>
                                        @Html.TextAreaFor(m => m.Adress, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <button type="submit" id="btnsubmit" class="btn btn-primary mts" onclick="return confirm('Are you sure want to save these detail')">SAVE</button>
                                        <button type="button" class="btn btn-danger mts" onclick="location.reload()">RESET</button>

                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-4 pb-3">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header"><i class="fa fa-table"></i>Vehicle Owner List</div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <div id="default-datatable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                                <table id="default-datatable" class="table table-bordered dataTable" role="grid" aria-describedby="default-datatable_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="default-datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 46px;">Sl No.</th>
                                            <th class="sorting" tabindex="0" aria-controls="default-datatable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 91px;">Owner Name</th>
                                            <th class="sorting" tabindex="0" aria-controls="default-datatable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 91px;">PAN</th>
                                            <th class="sorting" tabindex="0" aria-controls="default-datatable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 91px;">Contact No</th>
                                            <th class="sorting" tabindex="0" aria-controls="default-datatable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 91px;">Email</th>
                                            <th class="sorting" tabindex="0" aria-controls="default-datatable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 91px;">Address</th>

                                            <th class="sorting" tabindex="0" aria-controls="default-datatable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 30px;">Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (ViewBag.data != null)
                                        {
                                            int count = 0;
                                            foreach (var item in ViewBag.data)
                                            {
                                                count = count + 1;
                                                <tr role="row" class="even">
                                                    <td>@count</td>
                                                    <td>@item.OwnerName</td>
                                                    <td>@item.PAN</td>
                                                    <td>@item.ContactNo</td>
                                                    <td>@item.Email</td>
                                                    <td>@item.Adress</td>
                                                    <td>
                                                        <div class="btn-group">
                                                            <a href="/Admin/ownermaster?id=@item.OwnerEncrypt"><button type="button" id="" class="btn btn-outline-primary waves-effect waves-light m-1 btn1"> <i class="fa fa-edit"></i></button></a>
                                                            <button type="button" class="btn btn-outline-danger waves-effect waves-light m-1 btn1" onclick="Delete(@item.OwnerId)"> <i class="fa fa-trash-o"></i> </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        }


                                    </tbody>

                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div><!-- End Row-->
    </div>
    <!-- End container-fluid-->

</div><!--End content-wrapper-->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script>
    function Delete(id) {
        if (confirm("Are you sure want to delete this owner detail"))
            $.ajax({
                async: false,
                url: "/Admin/deleteowner",
                type: "post",
                dataType: "json",
                data: { id: id },
                success: function (app) {
                    if (app == true) {
                        alert("Owner detail deleted successfully");
                        location.href = "/Admin/ownermaster";
                    }
                }
            });
    }
    $("#PAN").change(function () {
        debugger;
        var regex = /([A-Z]){5}([0-9]){4}([A-Z]){1}$/;
        if (regex.test($("#PAN").val().toUpperCase())) {
            return true;
        } else {
            alert("Invaliad PAN Number");
            $("#PAN").val("");
            return false;
        }
    });

</script>
